@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

:root {
    --main-accent-color: #159ff0;
    --section-title-color-dark: #37474f;
    --body-color: #495057;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.btn {
    border-radius: 2rem;
    background-color: #159ff0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-style: solid #0283ce ;
    height: 50px;
    width: 50px;
    position: relative;
    box-shadow: 1px 2px 10px #9cd3ee;
}

.btn:hover {
    background-color: #ffffff;
    color: var(--main-accent-color);
}

/* Section title */
.section-title {
    position: relative;
}

h2.section-title-heading {
    color: var(--section-title-color-dark);
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.section-title::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--main-accent-color);
    width: 8%;
    top: 80px;
}





.section-title:hover::after {
    width: 12%;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;

}



/* ============ NAVIGATION =============== */

.navbar {
    height: 80px;
}



.navbar-light .navbar-nav .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 15px;
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #27778b;
}

.navbar.active {
    background-color: #FFF;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
}






/* ============ HERO =============== */

#hero {
    background-image: url('test2.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 600px;
}

#hero::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;

}
.main-hero-content {
    margin: left 0 ;
    padding-top: 200px;
    position: right  ;
    padding-bottom: 95px;
    width: 600px;
}
.main-hero-content h1 {
    color: #000000;
    text-transform: var(--section-title-color-dark);
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-hero-content p {
    color: #000000;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

/* ============ ABOUT =============== */
#about .container {
    height: 400px;

}

#about img {
    height: 400px;
    width: 700px;
}


#about h2 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    text-transform: initial;
    font-size: 48px;
    color: #0b1033;
}

#about p {
    color: var(--body-color);
    font-size: 1.1rem;
    line-height: 2.2rem;
}

#about {
    position: relative;
    padding-top: 2px;
}

#about::after {
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: -50px;
    right: 0;
    left: 0;
}

/* ============ FEATURES =============== */

#features {
    background-color: #fafafa;
    padding-bottom: 6rem;
    margin-top: 3rem;
}
.section-buttons .btn{
    width: 500px;
    margin-right: 20px;
}
#features img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#features .feature-block {
    text-align: justify;
    padding-top: 10px;

}


#features .feature-block h3 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#features .feature-block img {
    padding-bottom: 1rem;
}

#features .feature-block p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 1.7rem;
}
.col-md-6  {
    margin: var(--body-color);

}
/* ============ DOWNLOAD =============== */

#download {
    background-image: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52)), url('../img/download.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
    position: relative;
    margin-top: 90px;
}

#download::before {
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

#download .download-title h2 {
    padding-top: 10rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

#download .download-title p {
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 2.5rem;
}

#download .download-title .download-btns {
    margin-top: 4rem;
}

#download .download-title .download-btns a {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem 2rem;
}

#download .download-title .download-btns a:hover {
    background-color: #ffffff;
    color: var(--main-accent-color);
    border: 2px solid #ffffff;
    text-decoration: none;
}


/* ============ PRICING =============== */

#testimonials .h4-responsive {
    margin-top: -40px;
    margin-bottom: 50px;
    text-align: center;
}

#testimonials .h1-responsive {
    text-align: center;
}

#pricing::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}




/* ============ Contact =============== */
#contact {
    background-color: #f0f1f3;
    padding-bottom: 5rem;
    padding-top: 8rem;
    position: relative;
}

#contact::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

.btn-contact {
    background: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52));
    padding: .5rem 2.2rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
}

.btn-contact:hover {
    background: #ffffff;
    color: rgba(0,172,217, 0.62);
    border: 2px solid rgba(0,172,217, 0.62);
}

#contact .contact-details ul li {
    padding-bottom: .8rem;
}

#contact .contact-details ul li i {
    color: rgba(0,172,217, 0.62);
}

/* ============ Footer =============== */
#footer {
    background-color: #FFFFFF;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: relative;
}


#footer::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: %;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -5.5rem;
    right: 0;
    left: 0;
}

#footer .footer-logo img {
    margin-top: -4.5rem;
}

#footer .social-icons {
    margin-top: -1rem;
}

#footer .social-icons a {
    margin-right: 10px;
    color: #000000;
}

.copyright p {
    margin-top: 1rem;
    color: #ffffff;
    font-size: .9rem;
}
